<html>
	<head>
	</head>
	<body>
		<form method="POST" action="/">
			<label>Логин: </label><input name="l" size="25" type="text"><br>
			<label>Пароль: </label><input name="p" size="25" type="password"><br>
			<input name="remember" type="checkbox"><label>Запомнить</label><br>
			<input type="submit" value="Войти">
		</form>
	</body>
</html>	