{% extends "base.html" %}
{% block title%}Авторизация {% endblock %}
{% block content %}
	<div class="container">
		<form class="form-signin" method="POST" action="/">
			<div class="input-prepend">
				<span class="add-on"><i class="icon-user"></i></span><input class="input-block-level" name="l" size="25" type="text" placeholder="Логин" >
			</div><br>
			<div class="input-prepend">
				<span class="add-on"><i class="icon-lock"></i></span><input class="input-block-level" name="p" size="25" type="password" placeholder="Пароль" >
			</div>
			<label class="checkbox" >Запомнить<input name="remember" type="checkbox"></label>
			<input class="btn btn-sm btn-primary" type="submit" value="Войти">
		</form>
	</div>
{% endblock %}