<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="ru">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>{% block title %} {% endblock %}</title>
	{% block link %}{% endblock %}
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<script src="/js/jquery-1.11.2.js"></script>
	<script src="/js/bootstrap.js"></script>
<head>
<body>
	<div id="content">
		{% block content %}
			No extends
		{% endblock %}
	</div>
	<footer>
		{% block footer %}
			<div class="navbar-fixed-bottom row-fluid">
		    	<div class="navbar-inner">
					<div class="container">
						<div class="row">
            				<div class="col-md-8 twitter"></div>
            					&copy; 2015 <a href="http://ria.max">Тестовый сайт</a>.
	    	        		<div class="col-md-4 sitemap"></div>
    	    	    		<div class="col-md-6 social"></div>
        	    			<div class="col-md-6 footer-logo"></div>
        				</div>
    				</div>
    			</div>
    		</div>
		{% endblock %}
	</footer>
