<title>Закрытая страница</title>
<div class="container" style="width: 80%">
	Close page, you are log in as "{{ login }}"
	<form class="form-action" method="POST" action="/exit">
		<input type="hidden" name="exit" value="exit">
		<input class="btn btn-danger" type="submit" value="Выйти">
	</form>
</div>
