<html>
	<head>
		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.css" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet">
		<script src="/js/jquery-1.11.2.js"></script>
		<script src="/js/bootstrap.js"></script>
		<meta charset="utf-8"/>